@import url('./loader.css');
@import 'tailwindcss';

@layer base {
	input,
	textarea {
		outline: none;
	}
	button,
	[role='button'] {
		cursor: pointer;
	}
}

@theme {
	--color-primary-50: #f5faff;
	--color-primary-100: #ebf5ff;
	--color-primary-200: #d6ebff;
	--color-primary-300: #c2e1ff;
	--color-primary-400: #add8ff;
	--color-primary-500: #99cdff;
	--color-primary-600: #47a6ff;
	--color-primary-700: #007ef5;
	--color-primary-800: #0054a3;
	--color-primary-900: #002a52;
	--color-primary-950: #001529;

	--shadow-modal: 0 10px 50px rgba(0, 0, 0, 0.1);
}

html {
	scrollbar-gutter: stable;
}

.card::after,
.card::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: conic-gradient(
		from 90deg,
		theme(colors.blue.500),
		theme(colors.sky.500),
		theme(colors.cyan.500),
		theme(colors.blue.500)
	);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	padding: 2px;
	box-sizing: content-box;
	border-radius: 10px;
	transition: all 0.5s;
}

.card::before {
	filter: blur(0.5rem);
	opacity: 0.2;
}

.card:hover::after,
.card:hover::before {
	background-image: conic-gradient(
		from 90deg,
		theme(colors.blue.500),
		theme(colors.sky.500),
		theme(colors.cyan.500),
		theme(colors.teal.500),
		theme(colors.emerald.500),
		theme(colors.yellow.500),
		theme(colors.pink.500),
		theme(colors.violet.500),
		theme(colors.indigo.500),
		theme(colors.blue.500)
	);
}

.modal-transition {
	animation: slideIn 0.5s ease;
}

@keyframes slideIn {
	0% {
		top: 25%;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
